{% extends "base.html" %}

{% block title %}{{ subject.title }}{% endblock %}

{% block content %}
  <div class="subject-detail">
    <h1 id="title">{{ subject.title }}</h1>
    <h2>#{{subject.category}}
      
    </h2>
    <p class="date">
      Published {{ subject.publish }} by <b>{{ subject.author }}</b>
    </p>
    <p class="body-detail">
      <b>{{ subject.body|linebreaks }}</b>
    </p>

    <!-- <div class="like_or_unlike">
      <a href="">
        {% if request.user in subject.liked_by.all %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
          </svg>
        {% endif %}
      </a>
    </div> -->

    <div class="like_post">
      <form method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
          <p><input type="submit" name='like' value="{% if user not in subject.liked.all %} like {% else %} unlike {% endif %}"> {{ subject.num_likes }}</p>
        {% endif %}
      </form>
    </div> 

  {% with comments.count as total_comments %}
    <h2>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in comments %}
    <div class="comment">
      <p class="info">
        {{ comment.name }}
        {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}

    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}

  <div class="form_com">
    <h2 >Add a new comment</h2>
    <form method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
    </form>
  </div>
{% endblock %}