{% extends 'base.html' %}
{% load static %}
{% load forum_tags %}

{% block title %}Subjects{% endblock %}

{% block content %}

<div class="home">
    <div class="side"
        style="width: 250px; height: 500px; background: rgba(10.45, 48.71, 76.91, 0.75); border-radius: 30px; border: 3px #00abf0 solid">
        <div class="head-of-side">
            <div class="search-text">
                Search.
            </div>
            <div class="search-img">
                <a href="{% url 'main_page:subject_search' %}"><img class="img-search" src="{% static 'img/icons8-search.png' %}" width="30px" height="30px"></a>
            </div>
        </div>
        <div style="margin-left: 6px; width: 230px; height: 0px; border-radius: 30px; border: 1px #081B29 solid"></div>
        
        <div class="list-new">
            <div class="title-new-list" style="color: #00abf0;"><b>New.</b></div>
            <div class="new-list-content">{% show_latest_subjects 3 %}</div>
        </div>
        <div style="margin-left: 6px; margin-top: 60px; width: 230px; height: 0px; border-radius: 30px; border: 1px #081B29 solid"></div>
        <div class="list-liked">
            <div class="title-like-list" style="color: #00abf0;"><b>Like.</b></div>
            <div class="like-list-content">
                {% get_most_liked_subjects as most_liked_subjects %}
                <ul>
                    {% for subject in most_liked_subjects %}
                    <li>
                        <a href="{{ subject.get_absolute_url }}">{{ subject.title|truncatewords_html:10 }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div style="margin-left: 6px; margin-top: 10px; width: 230px; height: 0px; border-radius: 30px; border: 1px #081B29 solid"></div>
    </div>

    <div class="subject">
        {% for subject in subjects %}
        <div class="title-sub">
            <div class="profile-box">
                <div class="back-img-profile" style="width: 80px; height: 80px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.50); 
                border-radius: 50px"></div>
                <div class="profile-img"><img class="img-user" src="{% static 'img/icons8-user.png' %}" width="45px" height="45px"></div>
                <div class="profile-username"><a href="{% url 'main_page:profile' subject.author.id %}"><b>{{ subject.author }}</b></a></div>
            </div>
            <div class="title_link">
                <div class="subject-title-link"><a href="{{ subject.get_absolute_url }}"><b>{{ subject.title }}</b></a></div>
                <div class="subject-body">{{ subject.body|truncatewords:26 }}</div>
                <div class="subject-category"><h2>{{subject.category}}</h2></div>
            </div>
            <div class="date-and-reaction">
                <div class="like_and_total_comments">
                    <div class="like_img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                        </svg>
                    </div>
                    <div class="like_count">
                        {{subject.num_likes}}
                    </div>
                    <div class="comments_total_img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-
                                .836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 
                                1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                        </svg>
                    </div>
                    <div class="comments_total_count">
                        {{subject.comments.count}}
                    </div>
                </div>
                <div class="subject-publish-date">Published {{ subject.publish }}</div> 
            </div>
        </div>
        {% endfor %}
    {% include 'pagination.html' with page=page_obj %}
    </div>
</div>
{% endblock %}